# Core functionality - changes here should be rare!
/src/app.py                   @AntonioVicenteStellaxius
/src/backend/database.py      @AntonioVicenteStellaxius
/src/backend/routers/auth.py  @AntonioVicenteStellaxius

# The frontend will need refactored soon to be more object oriented.
/src/static/   @AntonioVicenteStellaxius
